/* You can add global styles to this file, and also import other style files */
body{
    background-color:bisque;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer{
    margin-top: auto;
}


// router-outlet {
//     background-color: azure;
// }