<!-- <p>match-detail works!</p>
<div class="card-box">
    <img src="https://ww1.prweb.com/prfiles/2010/06/17/4161594/2_Getty04.jpg">
    <div>
        <div class="text-center">
            <p class="title">Name: In These Silent Days</p>
            <p class="place">Artist: Brandi Carlile</p>
            <p class="date">Genre: Low Country Sound Music</p>
            <p class="peopleNeeded">Price: $12.80</p>
        </div>
        <div class="btn-group">
            <a routerLink="/details/:id" id="details">Details</a>
        </div>
    </div>
</div> -->

<div id="main" class="decor">
    <div class="form-left-decoration"></div>
    <div class="form-right-decoration"></div>
    <div class="circle"></div>
    <div class="form-inner">
        
        <h1>Name: In These Silent Days</h1>
        <p class="createdBy">Created by: userId - name</p>

        <img src="https://ww1.prweb.com/prfiles/2010/06/17/4161594/2_Getty04.jpg">
        
        <div class="text-center">
            <p class="description">Description</p>
            <p class="place">Place</p>
            <p class="date">Date</p>
            <p class="peopleNeeded">People needed</p>
        </div>

        <ng-container *ngIf="isLoggedIn">
            <ng-container>
                <button>Join game</button>
                <button routerLink="/all-games">Go Back</button>
            </ng-container>

            <ng-container>
                <p class="second-try">You can't join a game more than once!</p>
            </ng-container>
        </ng-container>
    </div>
</div>

<!-- <div>
            <input type="text" #titleInput="ngModel" ngModel required maxlength="15" name="title" id="title"
            placeholder="Title (max 15 characters)">
        </div>
        
        <div>
            <textarea rows="5" #descriptionInput="ngModel" ngModel required maxlength="50" name="description"
            id="description" placeholder="Description (up to 50 characters)"></textarea>
        </div>
        
        <div>
            <input type="text" #placeInput="ngModel" ngModel required name="place" id="place"
            placeholder="Place of the game">>
        </div>
        
        <div>
            <input type="date" #dateInput="ngModel" ngModel required name="date" id="date"
            placeholder="Date and time of match">
        </div>
        
        <div>
            <input type="number" #peopleNeededInput="ngModel" ngModel max="21" required name="peopleNeeded"
            id="peopleNeeded" placeholder="Number of people needed">
        </div> -->