<app-loader *ngIf=""></app-loader>
<div class="card-box">
    <img src="https://ww1.prweb.com/prfiles/2010/06/17/4161594/2_Getty04.jpg">
    <div>
        <div class="text-center">
            <p class="title">Name: In These Silent Days</p>
            <p class="place">Artist: Brandi Carlile</p>
            <p class="date">Genre: Low Country Sound Music</p>
            <p class="peopleNeeded">Price: $12.80</p>
        </div>
        <div class="btn-group">
            <a routerLink="/details/:id" id="details">Details</a>
        </div>
    </div>
</div>